*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-bottom: 2px solid gray;
}
.bt{
    width: 100%;
    padding: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    &:hover{
        background-color: black;
    }
}
iframe{
    
    min-height:720px;
  
    @media screen and (max-width:1000px) {
        width: 100%;
    }
}